.vscode/**
.vscode-test/**
out/**
node_modules/**
.yarn/**
src/**
.gitignore
.yarnrc
.pnp.cjs
.pnp.loader.mjs
.prettierignore
.prettierrc.json
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
